[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyreadline = "*"
pytesseract = "*"
opencv-python = "*"
"beautifulsoup4" = "*"
requests = "*"
"html5lib" = "*"
requests-cache = "*"

[dev-packages]

[requires]
python_version = "3.6"
